<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Anything</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Podcast Things With OneClick</h1>
        </header>
        <section class="content">
            <h2>Content Origin</h2>
            <form id="pdf-form" enctype="multipart/form-data">
                <label for="pdf-file">Select PDF File</label>
                <input type="file" id="pdf-file" name="pdf-file" class="input-field">
                
                <!-- CheckBox and Text Aligned -->
                <div class="checkbox-container">
                    <input type="checkbox" id="azure" name="azure" class="input-checkbox">
                    <label for="azure">Use Azure Document Intelligence</label>
                </div>
                
                <button type="button" class="btn" onclick="extractTextFromPdf()">Extract Text from PDF</button>
            </form>
            
            <form id="website-form">
                <label for="website-url">Website URL</label>
                <input type="text" id="website-url" name="website-url" class="input-field" placeholder="Enter website URL...">
                <button type="button" class="btn" onclick="extractTextFromWebsite()">Extract Text from Website</button>
            </form>
            
            <form id="content-form">
                <label for="podcast-content">Content for Podcast Outline</label>
                <textarea id="podcast-content" name="podcast-content" class="input-field" rows="10"></textarea>
                <button type="button" class="btn" onclick="generateOutline()">Generate Outline</button>
            </form>
        </section>

        <section class="outline">
            <h2>Podcast Outline</h2>
            <form id="outline-form">
                <label for="speaker1">Speaker 1 Voice</label>
                <select id="speaker1" name="speaker1" class="input-field">
                    <option value="en-US-AvaMultilingualNeural">Ava Multilingual</option>
                    <option value="en-US-AndrewMultilingualNeural">Andrew Multilingual</option>
                    <option value="en-US-GuyNeural">Guy</option>
                    <option value="en-US-JennyNeural">Jenny</option>
                </select>
                
                <label for="speaker2">Speaker 2 Voice</label>
                <select id="speaker2" name="speaker2" class="input-field">
                    <option value="en-US-AndrewMultilingualNeural">Andrew Multilingual</option>
                    <option value="en-US-AvaMultilingualNeural">Ava Multilingual</option>                    
                    <option value="en-US-GuyNeural">Guy</option>
                    <option value="en-US-JennyNeural">Jenny</option>
                </select>
                
                <textarea id="conversation-outline" name="conversation-outline" class="input-field" rows="10" placeholder="The generated conversation outline will appear here..."></textarea>
                <button type="button" class="btn" onclick="generateAudio()">Generate Audio</button>
            </form>
            
            <!-- Loading Indicator -->
            <div id="loading-indicator" class="loading-indicator" style="display: none;">
                <p>Processing... Please wait.</p>
            </div>
            
            <!-- Player Container -->
            <div id="audio-player"></div>
        </section>
    </div>

    <footer>
        <p>Created by: <a href="https://www.linkedin.com/in/petra-k-89250012/">Petra Korica</a> and <a href="https://www.linkedin.com/in/fdangel/">Kiko de Ángel</a></p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
